@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
    
};

html, body {
    @apply bg-base-300;
    height: 100%;
}

.task-container {
    scrollbar-color: var(--color-primary) var(--color-base-200);
}

.task {
    @apply px-2 py-4 mb-4 text-xs md:text-sm text-wrap font-medium border-solid rounded-2xl border-2 border-gray-500;
}